
::selection {
    background-color: lightblue;
    border-radius: 10px;
}

body {
    background-color: #444C53;
    padding: 0px;
    margin: 0px;
    overflow: auto;
}

body::-webkit-scrollbar { 
    display: none; 
} 

#title-bar-container-div {
    z-index: 1;
    -webkit-app-region: no-drag;
    /* background-color: rgb(79, 88, 91); */
    background-color: rgb(79, 88, 91);
    height: 10px;
}

#title-bar {
    position: fixed;
    width: calc(100% - 1px);
    text-align: center;
    -webkit-app-region: drag;
    -webkit-user-select: none;
    color: #EEEEEE;
    font-size: small;
    background-color: rgb(79, 88, 91);
    margin: 1px 1px 1px 1px;
    
}

.menu-button{
    z-index: 2;
    color: #EEEEEE;
    -webkit-app-region: no-drag;
    border-width: 0;
    height: 25px;
    background-color: inherit;
    margin: 0;
    -webkit-user-select: none;
}

.menu-button:focus {
    outline: none;
}

.dropdown {
    float: left;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #777777;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content hr {
    padding: 0;
    margin: 0;
}

.dropdown-button{
    padding: 12px 16px;
    display: block;
    height: 80px;
    z-index: 2;
    color: #EEEEEE;
    -webkit-app-region: no-drag;
    border-width: 0;
    height: 100%;
    width: 100%;
    background-color: inherit;
    margin: 0;
    font-size: 12px;
    -webkit-user-select: none;
  }
  
.dropdown-content a:hover {
      background-color: #ddd;
}

.dropdown-button-text {
    float: left;
}

.dropdown-button-shortcut {
    float: right;
}
  
#title-bar-menu button:hover{
    background-color: #888888;
}

#title-bar-menu button:active{
    background-color: #888888;
}

#title-bar-btns {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    -webkit-app-region: no-drag;
    float: right;
    -webkit-user-select: none;
    height: 25px;
}

#title-bar-btns div{
    margin: 0;
    padding: 0;
    height: 100%;
}

#title-bar-btns button {
    z-index: 2;
    color: #EEEEEE;
    font-size: large;
    padding: 1px 10px;
    border-width: 0;
    height: 100%;
    -webkit-app-region: no-drag;
    background-color: inherit;
    -webkit-user-select: none;
    margin: 0;
}

#title-bar-btns button:focus {
    outline: none;
}

#title-bar-menu {
    -webkit-app-region: no-drag;
    float: left;
    -webkit-user-select: none;
}

#title-text {
    top: 5px;
    position: relative;
    -webkit-user-select: none;
    -webkit-app-region: drag;
    color: #AAAAAA;
}

#lineNums {
    z-index: 10;
    position: fixed;
    left: 20%;
    width: 30px;
    display:block;
    overflow:hidden;
    height: inherit;
    -webkit-user-select: none;
    background-color: #222A31;
}

.vl {
    border-left: 1px solid #AAAAAA;
    height: 90%;
    left: calc(20% + 32px);
    opacity: 75%;
    position: fixed;
    z-index: 10;
  }

#content {
    z-index: -1;
    position: fixed;
    top: 10%;
    left: 20%;
    width: 90%;
    display:block;
    overflow:hidden;
    height: 90%;
    background-color: #333B42;
}

#text-container {
    margin: 0;
    padding: 0;
    position: relative;
    left: 40px;
    overflow: auto;
    height: 100%;
    width: 80%;
    top: 0;
}

code:focus {
    outline: none;
    display: block;
}

#cursor-follower {
    display: none;
    position: absolute;
    top: 100px;
    left: 31px;
    width: 100%;
    height: 18px;
    /* outline: 1px solid grey; */
    background-color: grey;
    opacity: 0.5;
    border-width: 1px 1px;
    border-radius: 5px;
    z-index: -1;
    pointer-events: none;
}

#terminal {
    position: fixed;
    height: 20%;
    width: 110%;
    background-color: #111111;
    top: 80%;
    z-index: 10;
    color: #ffffff;
    overflow: auto;

}

#terminal-resizer {
    position: fixed;
    top: 80%;
    padding: 0;
    width: 110%;
    margin: 0;
    height: 5px;
    border: solid grey;
    border-width: 3px 0 0 0;
}

#exit-terminal {
    position: fixed;
    color: white;
    left: 95%;
    height: 10%;
    width: 5%;
    top: inherit;
    height: 20px;
    margin: 3px 0px 0px 0px;
    background-color: inherit;
    border: 0;
}
#exit-terminal:hover {
    background-color: #222222;
    cursor: pointer;
}

#exit-terminal:focus {
    outline: none;
}

#terminal-text {
    display: block;
    white-space: pre-wrap;
    width: 96%;
    overflow: none;
}

.terminal-output {
    color: #1d81f3;
    display: inline;
}

#terminal-resizer:hover {
    cursor: n-resize;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }

::-webkit-scrollbar:hover {
    cursor: pointer;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: inherit;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #111111;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555555;
  }